In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [58]:
movies_df = pd.read_csv("../sample_files/moviereviews.tsv",sep="\t")
movies_df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [59]:
movies_df.isnull().sum()

label      0
review    35
dtype: int64

In [60]:
# remove nan values from the dataframe
movies_df.dropna(inplace=True)
movies_df.shape

(1965, 2)

In [63]:
# now we drop empty string data
movies_df =movies_df[~movies_df["review"].str.isspace()]
movies_df.shape

(1938, 2)

In [64]:
x = movies_df["review"]
x.head()

0    how do films like mouse hunt get into theatres...
1    some talented actresses are blessed with a dem...
2    this has been an extraordinary year for austra...
3    according to hollywood movies made in last few...
4    my first press screening of 1998 and already i...
Name: review, dtype: object

In [65]:
y = movies_df["label"]
y.head()

0    neg
1    neg
2    pos
3    pos
4    neg
Name: label, dtype: object

In [77]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid_vect = TfidfVectorizer()

In [91]:
x_tfid = tfid_vect.fit_transform(x)

In [102]:
x_train,x_test,y_train,y_test = train_test_split(x_tfid,y,test_size=0.3,random_state=3)

In [103]:
from sklearn.svm import LinearSVC

In [104]:
lsvc = LinearSVC()
lsvc.fit(x_train,y_train)

LinearSVC()

In [105]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [106]:
prediction = lsvc.predict(x_test)

In [107]:
print(confusion_matrix(prediction, y_test))

[[228  42]
 [ 45 267]]

In [108]:
print(accuracy_score(prediction, y_test))

0.8505154639175257